@(message: String)

@main("ScalaWeb-CRUD") {
    <div class ="customContainer">
        <div class="col-md-12 col">
            <hr>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <a href="@routes.CarAdvertsController.addAdvertPage()" class="btn btn-success btn-lg btn-block btn-huge">Add Adverts</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <a href="@routes.CarAdvertsController.getAdverts()" class="btn btn-info btn-lg btn-block btn-huge">View Adverts</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
}
