@(messages: String)
@*(adverts: Set[Adverts])*@


@main("ScalaWeb-CRUD") {
    <div class="panel-body">
        <h2>Adverts</h2>
        <br>
        <div class="table-responsive">
            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Fuel</th>
                        <th>Price</th>
                        <th>New</th>
                        <th>Mileage</th>
                        <th>First Registration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td td class="center">
                            <a href="" class="btn btn-success btn-xs">Edit</a>
                            <a href="" class="btn btn-danger btn-xs">Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}